@font-face {
    font-family: 'DroidSans';
    src: url('fonts/DroidSans-webfont.eot');
    src: url('fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans-webfont.woff') format('woff'),
         url('fonts/DroidSans-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-webfont.svg#DroidSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansBold';
    src: url('fonts/DroidSans-Bold-webfont.eot');
    src: url('fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
}
#teeMainDivContainer {
	height: 100%;
	width:  100%;
	border: none;
}
.k-widget {
	border-width: 0px !important;
}
.k-gantt-treelist .k-grid-header tr {
	height: auto;
}
.k-grid td {
	line-height: 100%;
	padding: 2px 8px;
	vertical-align: middle;
}


/************************************* gantt toolbar ***************************************/

.k-gantt-toolbar {
	background-color: transparent;
	background-image: -webkit-linear-gradient(top, #d40000 0%, #550000 100%);
	background-image: -moz-linear-gradient(top, #d40000 0%, #550000 100%);
	background-image: -ms-linear-gradient(top, #d40000 0%, #550000 100%);
	background-image: -o-linear-gradient(top, #d40000 0%, #550000 100%);
	padding: 0;
}
.k-gantt-actions {
	margin: 0 8px 0 0;
}
.k-gantt-actions .k-widget {
	background-color: transparent;
}
.k-gantt-actions .k-dropdown-wrap {
	background-color: rgba(0,0,0,0.1) !important;
	background-image: none !important;
	border-radius: 0;
	border-style: solid;
	border-color: rgba(255,255,255,0.1);
	border-width: 0 1px 0 0;
}
.k-gantt-actions .k-combobox {
	margin-right: 20px;
}

.k-gantt-actions .k-dropdown-wrap.k-state-focused .k-input, .k-gantt-actions .k-dropdown-wrap.k-state-hover {
	box-shadow: none !important;
}
.k-gantt-actions .k-input[readonly] {
	background-color: transparent;
	color: #fff;
	height: 100%;
	font-family: DroidSans;
}
.k-gantt-actions .k-state-default>.k-select {
	border-color: rgba(0,0,0,0.1);
}
.k-gantt-actions .k-icon {
	background-image: url('../kendo/styles/Uniform/sprite_white.png');
	border-color: transparent;
	margin: 0 !important;
}
.k-gantt-actions .k-button {
	font-family: DroidSans;
	font-size: 12px;
	color: #fff;
	margin: 0;
	border-radius: 0;
	border-style: solid;
	border-width: 0 1px 0 0;
	background-color: transparent;
	background-image: transparent;
}


.k-gantt-actions .k-button:hover, .k-gantt-actions .k-button:hover .k-select {
	background-color: rgba(0,0,0,0.2);	
}
.k-gantt-actions .k-button.k-state-disabled:hover {
	background-color: rgba(0,0,0,0.1);	
}
.k-gantt-actions .k-dropdown-wrap.k-state-hover {
	background-image: transparent;
	background-color: rgba(0,0,0,0.2);	
}
.k-gantt-actions .k-combobox {
	background-image: transparent;
	background-color: transparent;
}
.k-gantt-actions .k-combobox.k-button {
	padding: 10px;
}
.k-gantt-actions .k-combobox.k-button, .k-gantt-actions .k-dropdown-wrap .k-button:hover  {
	/* background-image: transparent; */
	background-color: transparent;
}

.k-gantt-actions .k-select .k-icon {
	margin: 4px 0 0 0 !important;
}
.k-state-disabled {
	opacity: 0.2;
}

.k-gantt-timeline .k-grid-header tr {
	height: auto;
}
.k-gantt-tasks tr, .k-gantt .k-grid-content tr {
	height: 32px !important;
}
.k-gantt-toolbar>.k-gantt-views {
	margin: 0 0 0 8px;
	font-family: DroidSans;
	font-size: 11px;
}

.k-gantt-toolbar>ul {
	background-color: transparent !important;
	background-image: none !important;
}
.k-gantt-toolbar>ul>li {
	border-style: solid;
	border-color: rgba(255,255,255,0.1) !important;
	border-width: 0 0 0 1px;
	background: rgba(0,0,0,0.1);
	padding: 5px 0;
}
.k-gantt-toolbar>ul>li a {
	color: #fff !important;
}
.k-gantt-toolbar li:first-child, .k-gantt-toolbar li:first-child>.k-link, .k-gantt-toolbar li:last-child, .k-gantt-toolbar li:last-child>.k-link {
	border-radius: 0px;
}
.k-gantt-toolbar>ul>li.k-state-hover {
	background: rgba(0,0,0,0.2);
	box-shadow: none !important;
}
.k-gantt-toolbar>ul>li.k-state-selected {
	background: rgba(0,0,0,0.2);
	box-shadow: none !important;
}

/************************************ END gantt toolbar ****************************************/


.k-grid-header th.k-header {
	vertical-align: middle;
	
}

.k-window {
	font-family: DroidSans;
}
.k-window-title{
  	font-size: 14px;
}
.k-grid-header, .k-gantt-toolbar {
  	font-size: 11px;
  	padding: 0px;
  	min-height:10px;
}
th.k-header, .k-grid-header th.k-header {
	background-color: #e6e6e6;
	border-style:  solid;
	border-width: 0 0 1px 1px;
	border-color: #999999;
	padding: 6px 8px;
	font-family: DroidSans;
	color: #666666;
	font-size: 14px;
	font-weight: 100;
	line-height: 100%;
	margin: 0;
}
.k-gantt .k-header.k-nonwork-hour {
	background-color: rgba(0,0,0,0.05);
}
#gantt .k-treelist th.k-header {
	padding: 17px 8px 16px;
}
#gantt .k-timeline th.k-header {
	font-size:  11px;
}
th.k-header:first-child {
	border-width: 0 0 1px 0;
	}
.k-gantt .k-treelist {
	background-color: #fff;
}
.k-gantt .k-treelist .k-alt, .k-alt {
	background-color: #f2f2f2;
}
.k-current-time {
	width: 2px !important;
	background: #008080;
}

.k-task-wrap {
	padding: 0px;
	margin: -2px 0 0 0;
}
.k-task-template {
	padding-top: 2px;
}
.k-task-single {
	background-color: transparent;
	border-color: transparent;
	border-style: solid;
	border-width: 0px;
	color: #000;
	border-radius: 0px;
	
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,0.1));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,0.1));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,0.1));
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,0.1));
}
div.k-task-content {
	font-family: DroidSans;
	font-size: 13px;
	color: #fff;
}

div.k-task-content.gantt-task-in-critical-chain {
	background-color: #aa0000;
}

div.k-task-content.gantt-task-todo {
	background-color: #333333;
}

div.k-task-content.gantt-task-inwork {
	background-color: #ff6600;
}

div.k-task-content.gantt-task-done {
	background-color: #999999;
	color: #fff;
}

div.k-task-milestone, .k-state-selected.k-task-milestone {
	background-color: transparent;
	background-image: -webkit-linear-gradient(left, #d40000 0%, #550000 100%);
	background-image: -moz-linear-gradient(left, #d40000 0%, #550000 100%);
	background-image: -ms-linear-gradient(left, #d40000 0%, #550000 100%);
	background-image: -o-linear-gradient(left, #d40000 0%, #550000 100%);
}

#kanbanTableRowState td {
	padding: 2px 0 0 0; 
}

#panelbar .k-content {
	min-height:250px;
	max-height:250px;
	overflow-y: scroll;
}
#panelbar .panelBarClose {
	float: right;
	line-height: normal;
	margin: .3em 1em 0 0;
}
.move {
	cursor: move;	
}
.move-doc{
	cursor: move;	
}
.task-target{
	border:3px solid #CDFFCD;
	background:#FFFFFF;
}
#kanbanTable table, #prop table {
	border-collapse: collapse;
}
#kanbanTable .k-widget {
	border: none;
}

#kanbanTable td {
	border-style: solid;
	border-width: 0 0 0 1px;
	border-color: #ddd; 
}
#kanbanTable td:first-child {
	border-width: 0 0 0 0;
}
#kanbanTable .tagcontainer {
	display: inline-block;
	min-width: 100px;
	height: 100%;
	width: 100%;
}
#kanbanTable .tags.move.k-block {
	font-family: DroidSans;
	font-size: 14px;
	color: #fff;
	padding: 6px 16px;
	margin: 4px 6px 0;
	border: none !important;
	border-radius: 0px;
	
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,0.1));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,0.1));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,0.1));
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,0.1));
}
.k-block {
	border-radius: 0px;
}
#kanbanTable #tag_listview-0 .tags.move.k-block {
	background-image: -o-linear-gradient(bottom, #164450 0%, #37abc8 100%);
	background-image: -moz-linear-gradient(bottom, #164450 0%, #37abc8 100%);
	background-image: -webkit-linear-gradient(bottom, #164450 0%, #37abc8 100%);
	background-image: -ms-linear-gradient(bottom, #164450 0%, #37abc8 100%);
	background-image: linear-gradient(bottom, #164450 0%, #37abc8 100%);
}
#kanbanTable #tag_listview-1 .tags.move.k-block {
	background-image: -o-linear-gradient(bottom, #FF6600 0%, #AA0000 100%);
	background-image: -moz-linear-gradient(bottom, #FF6600 0%, #AA0000 100%);
	background-image: -webkit-linear-gradient(bottom, #FF6600 0%, #AA0000 100%);
	background-image: -ms-linear-gradient(bottom, #FF6600 0%, #AA0000 100%);
	background-image: linear-gradient(to bottom, #FF6600 0%, #AA0000 100%);
}
#kanbanTable #tag_listview-2 .tags.move.k-block {
	background-image: -o-linear-gradient(bottom, #B3B3B3 0%, #808080 100%);
	background-image: -moz-linear-gradient(bottom, #B3B3B3 0%, #808080 100%);
	background-image: -webkit-linear-gradient(bottom, #B3B3B3 0%, #808080 100%);
	background-image: -ms-linear-gradient(bottom, #B3B3B3 0%, #808080 100%);
	background-image: linear-gradient(to bottom, #B3B3B3 0%, #808080 100%);
}
.tagcontainer-disabled {
	background:#eee;
}
.tagcontainer-enabled {
	background:#CDFFCD;
}

div.contenticon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-size: 16px 18px;
	background-position: center center;
	vertical-align: middle;
	line-height: 16px;
	margin-left: 0px;
}

.contentname {
	display: inline-block;
	vertical-align: middle;
	line-height: 16px;
	padding-left: 3px;
}


tr.gantt-drag-placeholder {
	outline-style: dashed;
	outline-width: 1px;
	outline-color: green;
}
  
table > div{
	border:1px solid #CDCDCD;
}
#teeProjectContentDiv .k-grid td {
	white-space: nowrap;	
}
#treeList .k-grid-header {
	padding-right: 0px;
	border-bottom: solid 1px #ccc;
	zoom: 1;
}
#teeProjectContentDiv  .k-grid td {
    line-height: 19px;
}
.k-treelist {
	font-family: DroidSans;
	font-size: 14px;
}
.reorder{
	float:right;
	cursor: row-resize;	
}
.space{
	padding: 1px 10px;
	cursor: row-resize;	
}
.space-nodrop{
	padding: 1px 10px;
	cursor: row-resize;	
}
.space-live{
	padding: 20px 10px;
	cursor: row-resize;	
}
.project-mark{
	width:14px;
	height:14px;
	float: left;
	margin: 10px 16px auto 0;
	background-color: #CDCDCD;
	border-radius: 3px;
	border: solid 1px;
}

.task-not-in-critical-chain-mark{
	width:20px;
	height:20px;
	align:center;
	float: right;
	margin: 8px 0;
	background-repeat: no-repeat;
	cursor: default;
}

.task-in-critical-chain-mark{
	width:40px;
	height:40px;
	align:center;
	float: right;
	margin: 0px 0;
	background-image:url("../images/exclamation-mark-icon.png");
	background-repeat: no-repeat;
	cursor: default;
}

.related-docs-mark{
	width:40px;
	height:40px;
	align:center;
	float: right;
	margin: 0px 0;
	background-image:url("../images/rel_doc_white.png");
	background-repeat: no-repeat;
	cursor: default;	
}
.related-docs-unlink{
	width:24px;
	height:24px;
	align:center;
	float: right;
	margin: 5px;
	background-image:url("../images/shears-24_white.png");
	background-repeat: no-repeat;
	cursor: default;
}
.task-doc-content{
	font-weight: bold;
	font-size: 16px;
}
.task-doc-target{
	border:3px solid #B2D5EB;
	background:#FFFFFF;
	font-weight: bold;
	font-size: 16px;
}
.blank {
	position: relative;	
	clear: both; height: 0px; border: 0px;
	font-size: 0px; margin:0px; padding:0px; 
}

.k-treelist .k-state-selected, .k-treelist .k-state-selected td  {
	background-color: #EE8F15 !important;
}

.hide{
	display:none !important;
}

/********************************************* Task properties **************************************************/

#task, #content {
	height:100%;
	width:100%;
	overflow:auto;
	font-family: DroidSans;
}
.taskprop-wrapper, .contentprop-wrapper {
	padding: 8px 16px;
}
.taskHeader, .contentHeader {
	font-size: 15px;	
}
.taskRow, .contentRow {
	font-size: 14px;
}
.propviewcaption {
	font-family: DroidSans;
	text-align: left;
	font-weight: 100;
	font-size: 15px;
	color: #666666;
	padding: 6px 8px;	
	margin:  0;
	font-size:  14px;
	line-height:  100%;
}
.propviewlabel {
	text-align: left;
	font-family: DroidSansBold;
	color: #ff6600;
}
.propviewvalue {
	text-align: left;
	padding-left: 30px;
	color: #333333
}
.propviewvalue  .propviewvalue_link {
	text-align: left;
	color: #666666;!important;
	font-family: "DroidSansBold";!important;
	text-decoration: none !important;
	padding-left: 0px;
}
.propertyHeader{
	background-color:#e6e6e6;
	border-style: solid;
  	border-width: 0 0 1px 0;
  	border-color: #999999;
}

/********************************************* END Task properties **************************************************/

.addcontent_file {
	float: left;
	width: 125px;
	text-align: right;
	margin: 2px 10px;
	display: inline
}

#tooltipTable tr
{
	height: 1.2em !important;
}

#tooltipTable td
{
 	padding: 2px 8px;
}

.k-widget .k-tooltip-validation
{
	color: #ffffff;
	font-family: DroidSans;
  	font-size: 12px;
}

.k-widget .k-tooltip
{
	border-color: transparent;	
	background-color: transparent;
	opacity: 0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */

	background-image: -webkit-linear-gradient(left, #37abc8 0%, #164450 100%);
	background-image: -moz-linear-gradient(left, #37abc8 0%, #164450 100%);
	background-image: -ms-linear-gradient(left, #37abc8 0%, #164450 100%);
	background-image: -o-linear-gradient(left, #37abc8 0%, #164450 100%);
}